<div class="navbar navbar-inverse ">
  <div class="navbar-inner" style="background-color:black">
    <div class="container">
        <h1><a style="color:#eeeeee; text-decoration:none" href="#">Zhxrain's blog</a></h1>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <div class="row-fluid">
        <div class="span12" style="background-color:#dceae0">
          <img src="/assets/wo.jpg"></img><br><h2>Info</h2>
        </div>
      </div>
      <br>
      <div class="row-fluid">
        <div class="span12" style="background-color:#dceaa9">
          <h2>List</h2>
        </div>
      </div>
    </div>
    <div class="span9" style="background-color:#dceaf4">
      <ul class="nav nav-pills">
        <li>
        {{#linkTo 'posts'}}Posts{{/linkTo}}
        </li>
      </ul>
      {{outlet}}
    </div>
  </div>
</div>

<hr>
<footer> &copy; 2013<br> DISIGN BY ZHXRAIN </footer>
