<div class="navbar navbar-inverse ">
  <div class="navbar-inner" style="background-color:black">
    <div class="container">
      <div id="title">
        <h1><a style="color:#eeeeee; text-decoration:none" href="#/posts">Zhxrain</a></h1>
      </div>
      <div id="sns">
        <a href="http://weibo.com/zhxrain">新浪微博</a>
        <a href="https://github.com/zhxrain">github</a>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <div class="row-fluid">
        <div class="span12" style="background-color:#dceae0">
          <img src="/assets/wo.jpg"></img><br><h2>Info</h2>
        </div>
      </div>
      <br>
      <div class="row-fluid">
        <div class="span12" style="background-color:#dceaa9">
          <h2>List</h2>
        </div>
      </div>
    </div>
    <div class="span9" style="background-color:#dceaf4">
      {{outlet}}
    </div>
  </div>
</div>

<hr>
<footer> &copy; 2013<br> DISIGN BY ZHXRAIN </footer>
